<!DOCTYPE html>
<html lang="ar" dir='rtl'>
<head>
  <meta charset="UTF-8">
  <title>صفحه ورود / ثبت نام</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static2_insta_crm/login_signup_files/style.css') }}"> 
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">ثبت‌ نام</label>
					<input type="text" name="txt" placeholder="نام کاربری" required="">
					<input type="email" name="email" placeholder="ایمیل" required="">
					<input type="password" name="pswd" placeholder="رمز عبور" required="">
					<button>ثبت نام</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">ورود</label>
					<input type="email" name="email" placeholder="ایمیل" required="">
					<input type="password" name="pswd" placeholder="رمز عبور" required="">
					<button>ورود</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
